.addresses {
  .card-new {
    color: $gray-lighter;
    &:hover {
      border-color: $brand-success;
      color: $brand-success;
    }
  }
  .card-address {
    .card-text {
      height: 63px;
      overflow: hidden;
    }
  }
}