header {
  border-top: 10px solid $brand-primary;
  border-bottom: 1px solid $gray-lighter;

  .logo {
    color: $brand-primary;
    font-size: $font-size-h4;
    margin: 0;

    > a {
      color: inherit;

      &:hover {
        text-decoration: none;
      }

      > img {
        height: 70px;
        margin-right: 10px;
      }
    }
  }

  .nav-primary > .nav-item {
    position: relative;
    > a {
      color: $gray;
      padding: 25px 0;

      &:hover {
        color: $brand-primary;
      }
    }
  }
}
