// Core variables and mixins
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,latin-ext");
@import "variables";
@import "mixins";
@import "../../../bower_components/bootstrap/scss/mixins";

// Reset and dependencies
@import "../../../bower_components/bootstrap/scss/normalize";
@import "../../../bower_components/bootstrap/scss/print";

// Core CSS
@import "../../../bower_components/bootstrap/scss/reboot";
@import "../../../bower_components/bootstrap/scss/type";
@import "../../../bower_components/bootstrap/scss/images";
@import "../../../bower_components/bootstrap/scss/code";
@import "../../../bower_components/bootstrap/scss/grid";
@import "../../../bower_components/bootstrap/scss/tables";
@import "../../../bower_components/bootstrap/scss/forms";
@import "../../../bower_components/bootstrap/scss/buttons";

// Components
@import "../../../bower_components/bootstrap/scss/animation";
@import "../../../bower_components/bootstrap/scss/dropdown";
@import "../../../bower_components/bootstrap/scss/button-group";
@import "../../../bower_components/bootstrap/scss/input-group";
@import "../../../bower_components/bootstrap/scss/custom-forms";
@import "../../../bower_components/bootstrap/scss/nav";
@import "../../../bower_components/bootstrap/scss/navbar";
@import "../../../bower_components/bootstrap/scss/card";
@import "../../../bower_components/bootstrap/scss/breadcrumb";
@import "../../../bower_components/bootstrap/scss/pagination";
@import "../../../bower_components/bootstrap/scss/pager";
@import "../../../bower_components/bootstrap/scss/labels";
@import "../../../bower_components/bootstrap/scss/jumbotron";
@import "../../../bower_components/bootstrap/scss/alert";
@import "../../../bower_components/bootstrap/scss/progress";
@import "../../../bower_components/bootstrap/scss/media";
@import "../../../bower_components/bootstrap/scss/list-group";
@import "../../../bower_components/bootstrap/scss/responsive-embed";
@import "../../../bower_components/bootstrap/scss/close";

// Components w/ JavaScript
@import "../../../bower_components/bootstrap/scss/modal";
@import "../../../bower_components/bootstrap/scss/tooltip";
@import "../../../bower_components/bootstrap/scss/popover";
@import "../../../bower_components/bootstrap/scss/carousel";

// Utility classes
@import "../../../bower_components/bootstrap/scss/utilities";
@import "../../../bower_components/bootstrap/scss/utilities-background";
@import "../../../bower_components/bootstrap/scss/utilities-spacing";
@import "../../../bower_components/bootstrap/scss/utilities-responsive";

// Third Party Plugins
@import "../../../bower_components/tether/src/css/tether";
@import "../../../bower_components/sweetalert/dev/sweetalert";
@import "../../../bower_components/font-awesome/scss/font-awesome";
@import "../../../bower_components/owl.carousel/src/scss/owl.carousel";
@import "../../../bower_components/owl.carousel/src/scss/owl.theme.default";
@import "../../../bower_components/select2/src/scss/core";

// Application

@import "select2";
@import "typed";
@import "social";
@import "typo";
@import "header";
@import "footer";
@import "brand";
@import "stand";
@import "main";
@import "sidebar";
@import "sticker";
@import "cart";
@import "payment";
@import "login";